footer {
    position: fixed;
    bottom: 2rem;
    width: 100%;
    text-align: right;
    color: var(--foreground);
}

.footer-left {
    position: fixed;
    left: 2rem;
}

.footer-right {
    position: fixed;
    right: 2rem;
}

.footer-link {
    color: var(--foreground);
    opacity: 1;
}

.footer-link:hover {
    opacity: 0.8;
}