---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import "../styles/Index.css";
const pageTitle = "Kevin Tamir";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1 class="name-container default-font">ЭРХЭС</h1>
		<Footer />
		<script src="../scripts/index.js"></script>
	</body>
</html>
