---
import "../styles/Footer.css";
import "../styles/global.css";
---
<footer class="footer default-font">
    <span class="footer-right">Made with <a class="footer-link" href="https://astro.build/">Astro</a>.</span>
    <span class="footer-left">Made by Kevin Tamir</span>
</footer>