---
import "../styles/Footer.css";
import "../styles/global.css";
---
<footer class="footer default-font">
    <span class="footer-right">Made with <a class="footer-link" href="https://astro.build/" target="_blank">Astro</a>.</span>
    <span class="footer-left">Made by <a class="footer-link" href="https://github.com/kevintamir" target="_blank">Kevin Tamir</a></span>
</footer>