---
import "../styles/Navigation.css";
import "../styles/global.css";
---
<nav class="nav secondary-font">
    <a href="/" class="nav"><img class="logo" src="/ico.png" alt="Logo" /></a>
    <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blogs">Blogs</a></li>
    </ul>
</nav>